<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Autour+One&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wallop/2.4.1/js/Wallop.min.js" integrity="sha512-uEyESZnRXVZXtfqIT1lXrqz/pmqfsVnxEnafItiKxaLRFT9MRgNL6tOViHswev/Ww4UzWN/LTtybOowljgNPDg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
    
    </style>
  </head>
<body class="">
  
{% block content %}
{% endblock %}

</body>


</body>
</html>